.scoreBox {
    background: #000;
    padding: 10%;

    margin: 1%;

    /* border-radius: 8px; */
    border-bottom: 3px solid #722ed1;
    color: #fff !important;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}
h3.CardTitle {
    color: #722ed1;
    /* text-shadow: 2px 2px 2px rgb(50 43 43 / 93%); */
    font-size: 13px;
    white-space: nowrap;
}